* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  font-family: "Raleway", sans-serif;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar productos"
    "footer footer";
}

.grid-container .navbar {
  grid-area: navbar;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.grid-container .sidebar {
  grid-area: sidebar;
  height: 800px;
  width: 200px;
  background: #2b2a2a07;
  text-align: start;
  display: inline;
  justify-content: center;
  font-size: small;
  padding-left: 50px;
  padding-top: 50px;
  line-height: 30px;
}

.sidebar ul {
  text-decoration: none;
  text-decoration-line: none;
}
.sidebar span {
  color: red;
}

.grid-container .productos {
  grid-area: productos;
  height: 800px;
  width: 800px;
  background: #2b2a2a07;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 25px;
}

.card {
  height: 330px;
  width: 200px;
  background: white;
  text-align: center;
  line-height: 25px;
}

.productos span {
  font-size: small;
  color: red;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: white;
  color: blue;
}

.grid-container .footer {
  grid-area: footer;
  text-align: center;
  color: white;
  background: blue;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
